*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("building\ construction\ back\ image.jpeg");

}
.container{
    width: 1100px;
    height: 1300px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 211, 221);
    margin: auto;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;

}
h1{
    font-size: 37px;
    padding-top: 20px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px ;
    border-radius: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
    


}
p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    color: rgb(91, 8, 99);
    span{
        color: blue;
    }
}
.main{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    padding: 40px;
    border-radius: 25px;

    h2{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(189, 36, 219);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    }

}
.sub{
    display: flex;
    flex-direction: row;
    img{
        width: 400px;
        height: 200px;
        background-color: white;
        border-radius: 30px;
        margin: auto;
    }
    span{
        color: blue;
        font-size: 13px;
    }
}

footer{
    display: flex;
    flex-direction: row;
    gap: 40px;

}
